<h1 class="text-danger">Learning Directives In Angular</h1>
<div class="container"*ngFor= "let i of students">
<p>{{i.sid}}</p>
<p>{{i.name}}</p>
<p>{{i.city}}</p>
<p>{{i.age}}</p>
<hr>
</div>
<table  align="center" class="table table-borderd w-50 p-5 bg-info text-black">
  <tr >
    <th> <p>Student Id</p></th>
    <th> <p>Student Name</p></th>
    <th> <p>Student City</p></th>
    <th> <p>Student Age</p></th>
  </tr>
  <tr *ngFor ="let j of students">
    <td>{{j.sid}}</td>
    <td>{{j.name}}</td>
    <td>>{{j.city}}</td>
    <td>{{j.age}}</td>

  </tr>
</table>
<hr>
<h1 align="center" class="text-danger">ngIf example</h1>
<div *ngIf = "show else child"  align="center">
  <p>
    if age is grather than 18+ then u can Vote 
  </p>

</div>
<ng-template #child>
  <p  align="center" >u can't vote causes u are a child </p>
</ng-template>

<hr>
<h1 align="center">ngStyle example</h1>
<p align="center" [ngStyle]="{'color':'green', 'background-color':'yellow'}">ngStyle is use to style something </p>
<hr>
<h1>Conditional base Styling</h1>
<!--we can styel with condtion  below is example how we can style -->
<table  align="center" class="table table-borderd w-50 p-5 bg-info text-black">
  <tr >
    <th> <p>Student Id</p></th>
    <th> <p>Student Name</p></th>
    <th> <p>Student City</p></th>
    <th> <p>Student Age</p></th>
  </tr>
  <tr *ngFor ="let j of students "[ngStyle]="{'color':j.age>18 ? 'red': 'blue'}">
    <td>{{j.sid}}</td>
    <td>{{j.name}}</td>
    <td>>{{j.city}}</td>
    <td>{{j.age}}</td>

  </tr>
</table>
<hr>
<h1 align="center" [ngStyle]="{'color':'red', 'font-size':'30px' ,'font-weight':'bold'}">
  ngClass example
</h1>
<ul *ngFor = "let i of students">
  <li [ngClass]="{'text-sucess':i.sid==='1','text-warning':i.sid==='3',
  'text-info':i.sid==='2','text-primary':i.sid==='4'}" >
    {{i.sid}},{{i.name}},{{i.city}},{{i.age}}

  </li>

</ul>